<nav class="navbar navbar-light bg-light d-flex justify-content-center align-items-center" style="background-color: rgba(0, 123, 255, 0.5) !important;">
    <span class="navbar-brand mb-0 h1 ">TicketPool</span>
  </nav>

<div class="tab-content col-3 mx-auto">
    <br><br><br><br><br><br><br><br><br><br>
    <form >
        <div class="form-group">
        <label for="formGroupExampleInput">Buy Tickets</label>
        <br>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
        </div>
        <br><br>
        <div class="col-12 text-center">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Buy tickets</button>
           </div>
    </form>
</div>

